@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), system-ui, -apple-system, sans-serif;
  --color-glucofy-green: #22c55e;
}

:root {
  --background: #f8f9fa;
  --foreground: #0f172a; /* Slate-900 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

